<div class="abstract-container">
  <br>
  <h4> <%= link_to abstract.title, abstract.url %> </h4>
  <br>
  <div> <strong>Authors:</strong>  <%= abstract.authors %></div>
  <br>
  <div> <%= format_abstract_body(abstract.body).html_safe %> </div>
  <br>
  <br>
</div>
