
<h2 class="subscription-heading">Subscription Manager</h2>

<h5 class="journal-list-header">Available Journals:</h5>
<%= form_for current_user do |f| %>
    <%= f.collection_check_boxes(:journal_feed_ids, JournalFeed.all, :id, :title) do |journal_feed| %>
    <%= journal_feed.label(class: "journal-feed-label") { journal_feed.check_box(class: "check-box") + journal_feed.text} %>
    <% end %>
  <%= f.submit "Submit", class: "btn btn-success", id: "submit-button" %>
<% end %>
