// Place all the styles related to the abstracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.keyword-search-bar-container {
  padding-top: 25px;
  padding-left: 25px;
  width: 750px;
}

.keyword-search-header{
  padding-right: 10px;
  float: left;
}

.keyword-search-bar {
  padding-left: 10px;
  padding-top: 5px;
}

.list-group {
  padding-top: 25px;
  width: 150%;
  padding-left: 25px;
}


//
// .list-group-item {
//   width: 150%
// }

#search-form {
  height: 150%
}

.new-journal-feed-form{
  padding-right: 100px;
  width: 33%;
  float: right;
}

form .list-group-item {
  height: 50px;
}

#journal-feed-list{
  width: 65%
}

.keyword-list-group-item {
}

.abstract-container *{
  overflow: hidden;
}

.search-results {
  // padding-left: 150px;
}
