/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";



#jumbo-background {
  height: 200px;
  padding: 0px;
  margin: 0px;
  background-image: url("assets/images/abstract.jpg");
}

.display-3{
  font-family: 'Vollkorn SC', serif;
}

.lead {
  padding-left: 10px;
  position: relative;
  top: -25px;
}

.keyword-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.keyword-list-item {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  // padding-right: 10px;
  // padding-left: 10px;
  text-decoration: underline;
}

#sidebar {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  // // position: fixed;
  // right: 50px;
}

.alert {
  padding: 20px;
  padding-left: 45px;
}

.notice {
  padding: 20px;
  padding-left: 45px;
}
