// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subscription-heading{
  margin: 5px;
  padding-bottom: 15px;
  padding-top: 20px;
  padding-left: 20px;
}

.journal-list-header{
  margin: 5px
}

.journal-feed-label{
  padding: 5px;
  padding-left: 20px;
  display: block;
}

input.check-box {
  margin: 5px;
  padding-left: 20px;
}

#submit-button{
  margin: 5px;
  margin-left: 20px;
}

#journal-feed-list{
  padding-left: 10px;
}

.new-journal-feed-form {
  padding-top: 15px;
}
